.container-logos-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:1px solid transparent;
    max-width:1170px;
    margin: 91px auto; 
}
.container-logos-item{
    display:inline;
}
.container-logos-item a{
}