@font-face {
    font-family:Gilroy-Bold;
    src: url(../../../shrifts/gilroy-bold.ttf);
}
.choice{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:95px;
}

.choice-title{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99EFD0;
    max-width: 1100px;
    word-break: break-word;
    font-family: "Inter",Arial,sans-serif;
}
.choice-subtitle{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #8476AA;  
    margin-top: 13px; 
    word-break: break-word;
    max-width: 700px;
    font-family: "Gilroy",Arial,sans-serif;
}
.choice-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:1100px;
    margin:0 auto;
    list-style-type: none;
}
.choice-item.icn1::before{
   content:url(../../../assets/icons/icon-choice1.svg);
   float: left;
   margin-left: -51px;
   margin-top: 0px;
}
.choice-item.icn2::before{
    content:url(../../../assets/icons/icon-choice2.svg);
    float: left;
    margin-left: -51px;
    margin-top: 0px;
 }
 .choice-item.icn3::before{
    content:url(../../../assets/icons/icon-choice3.svg);
    float: left;
    margin-left: -51px;
    margin-top: 0px;
 }
 .choice-item.icn4::before{
    content:url(../../../assets/icons/icon-choice4.svg);
    float: left;
    margin-left: -51px;
    margin-top: 0px;
 }
 .choice-item.icn5::before{
    content:url(../../../assets/icons/icon-choice5.svg);
    float: left;
    margin-left: -51px;
    margin-top: 0px;
 }
 .choice-item.icn6::before{
    content:url(../../../assets/icons/icon-choice6.svg);
    float: left;
    margin-left: -51px;
    margin-top: 0px;
 }

.choice-item{
    margin: 43px 55px;
}
.choice-title-item{
    font-size: 18px;
    line-height: 22px;
    color: #99EFD0;  
    cursor: pointer;  
    max-width:230px;
    word-break: break-word;
    text-decoration: none;
    font-family:"Gilroy-Bold",Arial,sans-serif;
}
.choice-title-item:hover{
    color:#0d6efd;
}
.choice-subtitle-item{
    font-size: 14px;
    line-height: 22px;
    color: #8476AA;    
    margin-top: 10px;
    max-width:250px;
    word-break: break-word;
    font-family: "Gilroy",Arial,sans-serif;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .choice-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width:1000px;
        list-style-type: none;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .choice-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width:997px;
        margin-left:65px;
        list-style-type: none;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .choice-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width:997px;
        margin-left:51px;
        list-style-type: none;
    }
    .choice-item{
        margin: 33px 55px;
    }
}

