.create{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid transparent;
    margin-top:115px;
}
.create-title{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99EFD0; 
    border:1px solid transparent;
    max-width:750px;
    word-break: break-word;
}
.getStart-btn{
    border:1px solid #F2994A;
    width:164px;
    padding:14px 0;
    word-break: break-word;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin: 46px auto;   
    cursor: pointer;
    z-index: 1;
}
.getStart-btn:hover{
    border: 1px solid #fc7500;
    background:#fc7500;
    animation: smoothly-color7 0.3s ease-in-out;
}
@keyframes smoothly-color7{
    0%{
        border: 1px solid #fc7500;
        background:#fc7500;
    }
    100%{
        border: 1px solid #fc7500;
        background:#fc7500;
    }
}
.circleImg{
    margin-top: -190px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .circleImg{
        margin-top: -190px;
        width: 130%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .circleImg{
        margin-top: -90px;
        width: 130%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .circleImg{
        margin-top: -50px;
        width: 130%;
    }
}
