
.invest-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:1px solid transparent;
    margin-top: 50px;
}
.invest-text-wrapper{
    border: 1px solid transparent;
    max-width: 470px;
    margin-top: 45px;
    margin-left: auto;
}
.invest-title{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
    border:1px solid transparent;
    max-width: 390px;
    word-break: break-word;
}
.invest-desc{
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #8476AA;
    margin-top: 32px;
    border: 1px solid transparent;
    max-width: 460px;
    word-break: break-word;
}
.invest-btn{
    border:1px solid #F2994A;
    width:155px;
    padding:14px 0;
    word-break: break-word;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;   
    margin-top: 46px; 
    cursor:pointer;
}
.invest-btn:hover{
    border: 1px solid #fc7500;
    background:#fc7500;
    animation: smoothly-color8 0.3s ease-in-out;
}
@keyframes smoothly-color8{
    0%{
        border: 1px solid #F2994A;
        background:#F2994A;
    }
    100%{
        border: 1px solid #fc7500;
        background:#fc7500;
    }
}
.invest-img-wrapper{
    border:1px solid transparent;  
    background-image: url('../../../assets/icons/Invest-map-pict-background.svg');  
    background-repeat: no-repeat;
    width: 600px;
    margin-left: auto;
}
.investImg{ 
   border:1px solid transparent;  
   margin-left: 45px;
}

@media(min-width:1440px) and (max-width:2560px){
    .invest{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border:1px solid transparent;
        margin-top: 50px;
        margin-left: 149px;
    }
    .invest-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border:1px solid transparent;
        max-width: 1500px;
    }
    .invest-text-wrapper{
        border: 1px solid transparent;
        max-width: 470px;
        margin-top: 45px
    }
    .invest-img-wrapper{
        border:1px solid transparent;  
        background-image: url('../../../assets/icons/Invest-map-pict-background.svg');  
        background-repeat: no-repeat;
        max-width: 600px;
        margin-left: 100px;
    }
    .investImg{ 
        border:1px solid transparent;  
        
     }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .invest-text-wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid transparent;
        max-width: 470px;
        margin-top: 45px;
        text-align: center;
        margin-right: auto;  
    }
    .investImg{
        margin-right: auto;
        margin-top: 60px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .invest-text-wrapper{
        border: 1px solid transparent;
        max-width: 470px;
        margin-top: 45px;
        text-align: center;
        margin-right: auto
    }
    .investImg{
        margin-right: auto;
        margin-top: 60px;
        width:81%;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .invest-text-wrapper{
        border: 1px solid transparent;
        max-width: 470px;
        margin-top: 45px;
        text-align: center;
    }
    .investImg{
        margin-left: 20px;
        margin-top: 60px;
        width:91%;
    }
}

