.brandicons-wrapper-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:1170px;
    margin: 91px auto; 
}
.brandicons-item{
    display:inline;
}
@media (min-width: 320px) and (max-width: 485px) {
    .brandicons-wrapper-list{
        max-width:250px;
        padding: 10px 0;
    }
    .brandicons-item{
        margin-top: 35px;
    }
}