
.online{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
}
.online-wrapper{
    max-width: 1500px;
    margin-top: 100px;
}
.online-list{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-top:70px;
    max-width: 700px;
    border:1px solid transparent;
}
.online-item{
    margin: 0 50px;
    margin-left: auto;
}
.online-item.icn1::before{
content: url(../../../assets/icons/online-icon1.svg);
}

.online-item.icn2::before{
    content: url(../../../assets/icons/online-icon3.png);
}
.online-title{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: #99EFD0;
    max-width: 430px;
    word-break: break-word;
    font-family: "Inter",Arial,sans-serif;
}
.online-desc{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-top: 32px;
    max-width: 420px;
    word-break: break-word;
    font-family: "Gilroy",Arial,sans-serif;
}
.online-title-item{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #99EFD0;
    margin-top: 10px;
    cursor: pointer;
    max-width: 130px;
    word-break: break-word;
    font-family: "Inter",Arial,sans-serif;
    
}
.online-title-item:hover{
    color:#0d6efd;
}
.online-desc-item{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-top: 8px;
    max-width: 220px;
    word-break: break-word;
    font-family: "Gilroy",Arial,sans-serif;
}
@media(min-width:1440px) and (max-width:2560px){
    .online{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 150px;
    }
    .online-wrapper{
        max-width: 1500px;
        margin-top: 100px;
        margin-left: 230px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .online-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .online-desc{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #8476AA;
        margin-top: 32px;
        max-width: 420px;
        word-break: break-word;
        text-align: center;
    }
    .online-list{
        flex-wrap: wrap;
        margin-top: 50px;
        max-width: 600px; 
        margin-left: auto;
    }
    .online-item{
        text-align: center;
    }
    .online-title-item{
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #99EFD0;
        margin-top: 10px;
        cursor: pointer;
        max-width: 130px;
        word-break: break-word;
        margin: 0 auto;
    } 
}
@media (min-width: 481px) and (max-width: 767px) {
    .online{
        margin-left: 0px;
        }
        .online-wrapper{
            max-width: 300px;
            margin-top: 30px;
            text-align: center;
        }
        .online-wrapper-list{
            margin-top: 45px;
        }
        .online-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 480px;
            text-align: center;
        }
        .online-item{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 60px;
        }
        .onlineImg{
            width:90%;
        }
}

@media (min-width: 320px) and (max-width: 480px) {
    .online{
    margin-left: 0px;
    }
    .online-wrapper{
        max-width: 300px;
        margin-top: 30px;
        text-align: center;
    }
    .online-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 480px;
        text-align: center;
        margin-top:19px;
    }
    .online-item{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 60px;
    }
    .onlineImg{
        width:90%;
    }
}



