.reasons{
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    border:1px solid transparent;
    margin-top: 55px; 
    max-width:2550px;
}
.reasons-inform-wrapper{
    border:1px solid transparent;  
    max-width: 540px;  
}
.reason-title{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #99EFD0;
    word-break: break-word;
    border: 1px solid transparent;
}
.reasons-subtitle{
    border:1px solid transparent;
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
    margin-top:19px;
    word-break: break-word;
    max-width: 440px;
}

.reasons-buttons-wrapper{
    border:1px solid transparent;
    margin-top: 40px;
}
.learnmore-btn{
    border: 1px solid #F2994A;
    width:156px;
    padding:13px 0;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    word-break: break-word;
    cursor:pointer;
}
.learnmore-btn:hover{
    border: 1px solid #f88825;
    background:#f88825;
    animation: smoothly-color2 0.3s ease-in-out;
}
@keyframes smoothly-color2{
    0%{
        border: 1px solid #F2994A;
        background:#F2994A;
    }
    100%{
        border: 1px solid #f88825;
        background:#f88825;
    }
}
.demo-btn{
    margin-left: 20px;
    border:1px solid #F2994A;
    width:156px;
    padding:13px 0;
    background: transparent;
    border: 1px solid #F2994A;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F2994A;
    word-break: break-word;
    cursor:pointer;
}
.demo-btn:hover{
    border: 1px solid #fc7500;
    color:#fc7500;
    animation: smoothly-color 0.3s ease-in-out;
}
@keyframes smoothly-color{
    0%{
        border: 1px solid #F2994A;
        color:#F2994A;
    }
    100%{
        border: 1px solid #fc7500;
        color:#fc7500;
    }
}
.reasons-video-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    border:1px solid transparent;
    word-break: break-word;
    max-width: 350px;
}
.reasons-video-text2{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78;
    word-break: break-word;
    border:1px solid transparent;
    margin-top: -15px;
    text-decoration: none;
    cursor: pointer;
}
.reasons-video-wrapper{
    display: flex;    
    border:1px solid transparent;
    margin-top: 60px;
 }
 .reasons-video-text-wrapper{
     display: flex;
     flex-wrap: wrap;
     margin-left: 20px;
     border:1px solid transparent;
 }
 .videoImg{
     cursor:pointer;
     width:140px;
     height:80px;
 }
 .videoImg:hover{
    animation: show 0.2s linear;
    transform: scale(1.02);
  }
.humanImg{
    border:1px solid transparent;
    width:590px;
    height:580px;
    cursor: pointer;
}
.humanImg:hover{
    -ms-transform: skewX(1deg);
     transform: skewX(1deg);
     animation: skeyImg 0.5s ease-in-out;
  }
  @keyframes skeyImg{
    0%{
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    100%{
        -ms-transform: skewX(1deg);
        transform: skewX(1deg);
    }
}


  @media(min-width:1440px) and (max-width:2560px){
    .reasons{
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        border:1px solid transparent;
        margin-top: 55px; 
        max-width:2550px;
        margin-left: 150px;
    }
}  

@media (min-width: 768px) and (max-width: 1270px) {
    .reasons{
        display: flex; 
        flex-wrap: wrap;
       justify-content: center;
        border:1px solid transparent;
        margin-top: 105px; 
        max-width:2550px;
    }
    .reasons-inform-wrapper{
        text-align: center;
    }
    .reasons-video-wrapper{
        display: flex;  
        flex-wrap: wrap; 
        align-items: center; 
        flex-direction: column;
        border:1px solid transparent;
        margin-top: 35px;
     }
     .reasons-video-text-wrapper{
        display: flex;
        text-align: center;
        flex-direction: column;
        border:1px solid transparent;
        text-align: center;
        margin-top: 10px;
    }
    .humanImg{
        border:1px solid transparent;
        cursor: pointer;
        width: 60%;
        margin-top: 10px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .top{
        border:1px solid transparent;
        margin-left:0; 
    }
    .reasons{
        display: flex; 
        flex-wrap: wrap;
       justify-content: center;
        border:1px solid transparent;
        margin-top: 105px; 
        max-width:2550px;
    }
    .reasons-inform-wrapper{
        text-align: center;
    }
    .reasons-video-wrapper{
        display: flex;  
        flex-wrap: wrap; 
        align-items: center; 
        flex-direction: column;
        border:1px solid transparent;
        margin-top: 35px;
     }
     .reasons-video-text-wrapper{
        display: flex;
        text-align: center;
        flex-direction: column;
        border:1px solid transparent;
        text-align: center;
        margin-top: 10px;
    }
    .humanImg{
        width: 75%;
        margin-left:auto;
        margin-top:51px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .reasons-inform-wrapper{
       text-align: center;
    }
    .demo-btn{
        margin-left: 3px;
        margin-top:11px;
        border:1px solid #F2994A;
        width:156px;
        height:46px;
        background: transparent;
        border: 1px solid #F2994A;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #F2994A;
        cursor:pointer;
    }
    .reasons-video-wrapper{
        display: flex;  
        flex-wrap: wrap; 
        align-items: center; 
        flex-direction: column;
        border:1px solid transparent;
        margin-top: 35px;
     }
     .reasons-video-text-wrapper{
        display: flex;
        text-align: center;
        flex-direction: column;
        border:1px solid transparent;
        text-align: center;
        margin-top: 10px;
    }
    .videoImg{
        cursor:pointer;
        width:140px;
        height:80px;
    }
    .humanImg{
        width: 100%;
        margin-left:auto;
        margin-top:-55px;
        margin-left: -105px;
    }
  
}

