.ways{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    margin-top: 120px;
}
.heading-ways{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
    border:1px solid transparent;
    max-width: 715px;
    word-break: break-word;
}
.ways-p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;   
    margin-top: 32px; 
    border:1px solid transparent; 
    max-width:399px;
    word-break: break-word;
}

.ways-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:1px solid transparent;
    max-width: 1091px;
    margin: 48px auto; 
}
.ways-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    border:1px solid transparent;
}
.way-heading-item{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;  
    margin: 0 100px;  
}
.way-p-item{
    margin-top: 13px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;   
    max-width: 200px;
    word-break: break-word;
    border:1px solid transparent;
}
.way-p-item2{
    margin-top: 13px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;   
    max-width: 250px;
    word-break: break-word;
    border:1px solid transparent;
}
@media (min-width: 320px) and (max-width: 480px) {
    .ways-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border:1px solid transparent;
        margin-top: -19px;
    }
    
   .ways-item{
     margin: 15px 0;
   }
}

