ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.footer{
    border:1px solid transparent;
    margin-top:185px;
    background-image: url("../../assets/img/background.svg");
   
}
.footer-wrapper{
    border:1px solid transparent;
    max-width:992px;    
    margin: 0 auto;
}
.footer-header-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid transparent;
    max-width: 992px;
}
.pages-wrapper-list{
    border:1px solid transparent;
    max-width:992px;
    margin-top: 94px;
}
.pages-list{
   display: flex;
   justify-content: space-between;
   border:1px solid transparent;
}
.pages-links-list .pages-link-item{
    margin-top:16px;
}
.footer-title{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: #F2994A; 
    border: 1px solid transparent;
    max-width: 190px;
    word-break: break-word;      
}
.icons-item{
    display: inline;
    margin: 0 7px;
}
.footer-title-item{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid transparent;
    max-width: 100px;
    word-break: break-word;  
}

.footer-subtitle-item{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    max-width: 100px;
    word-break: break-word;
}
.footer-subtitle-item:hover{
    color:blue;
}
.footer-subtitle-item2{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    max-width: 100px;
    word-break: break-word;
}
.footer-subtitle-item2:hover{
    color:blue;
}
.footer-list{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 0 34px;
    border: 1px solid transparent;
    max-width: 500px;
    margin:120px auto;
    word-break: break-word;
}
.link-color{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-item{
    border: 1px solid transparent;
    max-width: 150px;
    word-break: break-word;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-header-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid transparent;
        max-width: 992px;
    }
    .pages-list{
        display: flex;
        justify-content: space-around;
     }
}
@media (min-width: 481px) and (max-width: 767px) {
    .footer-header-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid transparent;
        max-width: 992px;
    }
    .pages-list{
        display: flex;
        justify-content: space-around;
    }
    .footer-list{
        display: flex;
        justify-content:space-around;
        border: 1px solid transparent;
        max-width: 400px;
        margin:65px auto;
    }

}
@media (min-width: 320px) and (max-width: 480px) {
    .footer-header-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid transparent;
        max-width: 992px;
    }
    .pages-list{
        display: flex;
        justify-content: space-around;
     }
    .icons-wrapper{
        border:1px solid transparent;
        margin-top: 25px;
        margin-left: -33px;
    }
    .pages-wrapper-list{
        display: flex;
        justify-content: center;
        border:1px solid transparent;
        max-width:992px;
        margin-top: 59px;
        margin-left: -49px;
    }
    .footer-title{
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.325px;
        color: #F2994A; 
        border: 1px solid transparent;
        max-width: 190px;
        word-break: break-word;    
    }
    .footer-title-item{
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    .footer-subtitle-item{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-top: 19px;
        cursor: pointer;
    }
    .footer-subtitle-item2{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-top: 9px;
        cursor: pointer;
    }
    .footer-wrapper-list{
        display: flex;
        justify-content: center;
        border: 1px solid transparent;
    }
    .footer-list{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border: 1px solid transparent;
        margin:65px 30px;
        padding: 10px;
    }
    .footer-item{
        margin-top: 15px;
    }
}