*{
    margin:0;
    padding:0;
}
.background1{
    background:#040D3E;
    background-image: url(./assets/img/BackgroundMenu.png);
    background-repeat: no-repeat;
}
.background2{
    border:1px solid transparent;
    background:#040D3E;
}

